################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LocadoraVeiculos/TelaPrincipalForm/obj
/LocadoraVeiculos/.vs
/LocadoraVeiculos/.vs/LocadoraVeiculos/vs
/LocadoraVeiculos/LocadoraVeiculos.BancoDados/bin/Debug/net5.0
/LocadoraVeiculos/LocadoraVeiculos.BancoDados/obj
C:/Users/mossi/source/repos/LocadoraVeiculos/LocadoraVeiculos/.vs/LocadoraVeiculos/v17/.suo
/LocadoraVeiculos/LocadoraVeiculos.Dominio/obj/Debug/net5.0
/LocadoraVeiculos/LocadoraVeiculos.Infra.BancoDados.TestesIntegracao/bin/Debug/net5.0
/LocadoraVeiculos/LocadoraVeiculos.Infra.BancoDados.TestesIntegracao/obj/Debug/net5.0
/LocadoraVeiculos/WinFormsApp1/obj/Debug/net5.0-windows
