################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LocadoraVeiculos/TelaPrincipalForm/obj
